{% assign url = "https://" | append: context.location.host | append: context.location.href %}

{%- capture url_template -%}
{% if params.language %}/{lang}{%- endif -%}/blog/post/{blog_slug}/{post_slug}
{%- endcapture -%}

{% assign url_params = context.location.href | extract_url_params: url_template %}

{%- query_graph 'modules/dashboard_blog/get_blog_instance', result_name: bi, scope: 'blog', slug: url_params.blog_slug, enabled: 'true' -%}
{% assign blog_instance = bi.customizations.results.first %}

{% if url_params.blog_slug != blank and url_params.post_slug != blank and blog_instance %}

{% assign blog_url = '/blog/' | append: url_params.blog_slug %}
{% assign today = 'now' | date: '%F' %}
{%- query_graph 'modules/dashboard_blog/get_blog_posts', result_name: g, published_at_lte: today, blog_instance_id: blog_instance.id, slug: url_params.post_slug  -%}
{% assign blog_post = g.customizations.results.first %}
<script>console.log({{ blog_post | json }});</script>

<div class="hero_img">
    <figure>
        <img class="picture w-100" src="{{blog_post.hero_image.transformed}}" alt="img">
        <figcaption>
            <h5 class="card-title">{{blog_post.title}} </h5>
            <p class="text"> by {{blog_post.author_name}} | {{blog_post.published_at }}</p>
        </figcaption>
      </figure>
</div>
<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 text-left d-inline">
        <div class="content">{{blog_post.content}}</div>
      </div>
    </div>
  </div>
</section>
{%endif %}